/* GENERAL */

*{
  border: 1px solid #ff0000; 
  margin: 0;
  font-family: 'Roboto Mono', monospace, Arial, sans-serif
}

a {
  text-decoration: none; 
}

/* MENU DE NAVEGACION */

  header {
    background-color: #ffffff;
    font-size: 18px;
    padding: 10px;
    margin: 0;
  }

  .lista1nav { 
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
  } 

  .lista2nav { 
    display:flex;
    justify-content: space-around;
    list-style-type: none;
    text-decoration: none; 
    margin: 0;
    padding: 0;
  }   
   
  .lista2nav li {
    display: inline-block;
    margin-right: 35px;
  } 

  #imglogo {
    max-width: 36px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

/* SECCION N°1 */

  #seccion1{
    height: fit-content;
    padding-bottom: 0px;
  }

  #imgportada {
    display: block;
    width: 100%;
    height: 95vh;
  }

  .textoseccion1 {  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ff0000;
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    max-width: 500px;
  }

  .textoseccion1 h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .textoseccion1 h2 {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 0;
  }

/* SECCION N°2 */

  #seccion2{
    height: fit-content;
  }

  #textoseccion2 {  
    color: #ffffff;
    background-color: #000000;
    padding: 120px;
  }

/* SECCION N°3 */

  #seccion3{
    height: fit-content;
  }

  #textoseccion3 h1{
    color: #000000;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 30px;
  }

  #textoseccion3 h2{
    color: #000000;
    opacity: 0.6;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 12px;
  }

  #gridseccion3{
    display: grid; 
    grid-template-columns: auto auto auto; 
    grid-template-rows: auto auto; 
    gap: 2em ;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 80px;
    padding-right: 80px;
    max-width: 60%;
    margin: 0 auto;
  }

  .elementogridseccion3 {
    max-width: 300px; 
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 80px;
    padding-right: 80px;
  }

/* SECCION N°4 */

  #seccion4 {
    margin: 0px;
    height: fit-content;
  }

  .textoseccion4 h1{
    color: #000000;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 30px;

  }

  .textoseccion4 h2{
    color: #000000;
    opacity: 0.6;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 12px;
  }

  /* SECCION N°4 CARDS */

  .container {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 80px;
    padding-right: 80px;
  }
  
  .imgcard {
    display: block;
    max-width: 350px;
  }

  /* SECCION N°5 */

  #seccion5 {
    margin: 0px;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 20%;
  }

  .textoseccion5 h1{
    color: #000000;
    padding-top: 80px;
    padding-bottom: 30px;
    max-width: 500px;
  }

  .textoseccion5 h2{
    color: #000000;
    opacity: 0.6;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 18px;
    max-width: 500px;
  }

  .textoseccion5 h3{
    color: #ffffff;
    background-color: #000000;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    max-width: 150px;
    border-radius: 20px;
  }

  /* PIE DE PAGINA */

  footer {
    background-color: #ffffff;
    font-size: 18px;
    padding: 10px;
    margin: 0;
  }
  
  .lista1piedepag { 
      display:flex;
      justify-content: space-between;
      list-style-type: none;
      margin: 0;
      padding: 0;
    } 
  
    .lista2piedepag { 
      display:flex;
      justify-content: space-around;
      list-style-type: none;
      text-decoration: none; 
      margin: 0;
      padding: 0;
    }   
     
    .lista2piedepag li {
      display: inline-block;
      margin-left: 35px;
    } 
  
    #imglogopiedepag {
      max-width: 36px;
      position: absolute;
    }
