/* GENERAL */

*{
  border: 1px solid #ff0000; 
  margin: 0;
  font-family: 'Roboto Mono', monospace, Arial, sans-serif
}

a {
  text-decoration: none; 
}

/* MENU DE NAVEGACION */

  header {
    background-color: #ffffff;
    font-size: 24px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
    margin: 0;
  }

  .lista1nav { 
    display:flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  } 

  .lista2nav { 
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }   

  .lista2nav a {
    color: #000000;
    margin-right: 0%;
    padding: 0;
  }

  #imglogo {
    max-width: 36px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

/* SECCION N°1 */

  #seccion1{
    height: fit-content;
    padding-bottom: 0%;
  }

  #imgportada {
    display: block;
    max-width: 100%;
  }

  .imgseccion1 {  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
  }

/* SECCION N°2 */

  #seccion2{
    height: fit-content;
    background-color: #000000;
  }

  #textoseccion2 {  
    color: #ffffff;
    font-size: 24px;
    padding-bottom: 5%;
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 40%;
  }

/* SECCION N°3 */

  #seccion3{
    height: fit-content;
  }

  #textoseccion3 h1{
    color: #000000;
    text-align: center;
    font-size: 36px;
    padding-top: 80px;
    padding-bottom: 30px;
  }

  #textoseccion3 h2{
    color: #000000;
    opacity: 0.7;
    text-align: center;
    font-size: 24px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  #gridseccion3{
    display: grid; 
    grid-template-columns: auto auto auto; 
    grid-template-rows: auto auto; 
    gap: 2em;
    padding-top: 5%;
    padding-bottom: 2%;
    padding-left: 20%;
    padding-right: 20%;
    max-width: 60%;
  }

  .elementogridseccion3 {
    max-width: 50%; 
    font-size: 24px;
    padding-left: 20%;
    padding-right: 20%;
  }

/* SECCION N°4 */

  #seccion4 {
    margin: 0px;
    height: fit-content;
  }

  .textoseccion4 h1{
    color: #000000;
    text-align: center;
    font-size: 36px;
    padding-top: 80px;
    padding-bottom: 30px;

  }

  .textoseccion4 h2{
    color: #000000;
    opacity: 0.7;
    text-align: center;
    
    font-size: 24px;
    padding-right: 25%;
    padding-left: 25%;
  }

  /* SECCION N°4 CARDS */

  .container {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 15%;
    padding-right: 15%;
  }
  
  .cardagriculture {
    border-radius: 10%;
    background-color: #ff0000;
    border: 2px solid#000000;
  }

  .cardenergy {
    border-radius: 10%;
    background-color: #ff0000;
    border: 2px solid#000000;
  }

  .cardphotography {
    border-radius: 10%;
    background-color: #ff0000;
    border: 2px solid#000000;
  }

  .imgcard {
    display: block;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    max-width: 100%;
  }

  .titulocard {
    color: #000000;
    font-size: 24px;
    padding-left: 40px;
    max-width: 270px;
  }

  .textocard {
    color: #000000;
    opacity: 0.7;
    font-size: 18px;
    padding-left: 40px;
    max-width: 270px;
  }

/* SECCION N°5 */

  #seccion5 {
    margin: 0px;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 0%;
    padding-right: 20%;
  }

  .textoseccion5 {
    display: block;
    max-width: 25%;
  }

  .textoseccion5 h1{
    color: #000000;
    font-size: 36px;
    padding-top: 80px;
    padding-bottom: 30px;
    max-width: 500px;
  }

  .textoseccion5 h2{
    color: #000000;
    opacity: 0.7;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 24px;
    max-width: 500px;
  }

  .textoseccion5 h3{
    color: #ffffff;
    background-color: #000000;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    max-width: 150px;
    border-radius: 20px;
  }

  #imgseccion5 {
    display: block;
    max-width: 50%;
  }

/* SECCION N°6 */

  #seccion6 {
    margin: 0px;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 15%;
    padding-right: 15%;
  }

  #imgseccion6 {
    display: block;
    max-width: 40%;
  }

  .textoseccion6 h1{
    color: #000000;
    font-size: 36px;
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 500px;
  }

  .textoseccion6 h2{
    color: #000000;
    opacity: 0.7;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 18px;
    max-width: 500px;
  }

  .textoseccion6 h3{
    color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
  }

/* SECCION N°7 */

  #seccion7{
    height: fit-content;
    display: flex;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 15%;
    padding-right: 15%;
    background-color: #000000;
  }

  #imgseccion7 {
    display: block;
    justify-content: center;
    max-width: 100%;
    border-radius: 5%;
  }

  /* PIE DE PAGINA */

  footer {
    background-color: #ffffff;
    font-size: 18px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 1%;
    padding-right: 1%;
    margin: 0;
  }

  #textopiedepag h1{
    color: #000000;
    font-size: 36px;
    text-align: center;
  }

  #piedepaglinks {
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
    padding-bottom: 5%;
    padding-left: 35%;
    padding-right: 35%;
  }

  .logospiedepag {
    max-width: 10%;
  }
  
  .lista1piedepag { 
      display:flex;
      justify-content: space-between;
      list-style-type: none;
      margin: 0;
      padding: 0;
    } 
  
  .lista2piedepag { 
    display:flex;
    justify-content: space-around;
    list-style-type: none;
    text-decoration: none; 
    margin: 0;
    padding: 0;
  }   
     
  .lista2piedepag li {
    display: inline-block;
    font-size: 24px;
    margin-left: 35px;
  } 
  
  #imglogopiedepag {
    max-width: 36px;
    position: absolute;
  }

  #textocopywritting {
    color: #000000;
    opacity: 0.7;
    font-size: 24px;
  }
