/* GENERAL */

*{
  border: 1px solid #ff0000; 
  margin: 0;
  font-family: 'Roboto Mono', monospace, Arial, sans-serif
}

a {
  text-decoration: none; 
}

/* MENU DE NAVEGACION */

header {
  background-color: #ffffff;
  font-size: 18px;
  padding: 10px;
  margin: 0;
}

.l0001 { 
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
  } 

  .l0002 { 
    display:flex;
    justify-content: space-around;
    list-style-type: none;
    text-decoration: none; 
    margin: 0;
    padding: 0;
  }   
   
  .l0002 li {
    display: inline-block;
    margin-right: 35px;
  } 

  #i0001 {
    max-width: 36px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

/* SECCION N°1 */
  .s0001{
    padding-bottom: 0px;
  }
  #i0002 {
    display: block;
    max-width: 100%;
  }

  .t0001 {  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ff0000;
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    max-width: 500px;
  }

  .t0001 h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .t0001 h2 {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 0;
  }

/* SECCION N°2 */

  #t0002 {  
    color: #ffffff;
    background-color: #000000;
    padding: 120px;
  }

/* SECCION N°3 */

  .s0003{
    margin: 0%;
  }

  #t0003 {
    color: #000000;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 20px;

  }

  #t0004 {
    color: #000000;
    opacity: 0.6;
    text-align: center;
    padding: 20px;
    font-size: 12px;
  }

  .l0004 { 
    display: flex; 
    justify-content: center; 
    list-style: none;  
    transform: translateX(-50%);
  } 

  .l0004 li {
    display: inline-block;
    margin-right: 10%;
    max-width: 30%;
  }

  .l0005 { 
    display: flex; 
    justify-content: center; 
    list-style: none; 
    padding: 0; 
  } 

  .l0005 li {
    display: inline-block;
    margin-right: 35px;
    max-width: 250px;
  }

/* SECCION N°4 */

  .s0004 {
    margin: 0px;
  }

  #t0005 {
    color: #000000;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 20px;
  }

  #t0006 {
    color: #000000;
    opacity: 0.6;
    text-align: center;
    padding: 20px;
    font-size: 12px;
  }

  .l0006 { 
    display: flex; 
    justify-content: center; 
    list-style: none; 
    padding: 0;
  } 

  .l0006 li {
    display: inline-block;
    margin-right: 35px;
    max-width: 250px;
  }

  /* PIE DE PAGINA */

  footer {
    background-color: #ffffff;
    font-size: 18px;
    padding: 10px;
    margin: 0;
  }
  
  .l0000 { 
      display:flex;
      justify-content: space-between;
      list-style-type: none;
      margin: 0;
      padding: 0;
    } 
  
    .l1000 { 
      display:flex;
      justify-content: space-around;
      list-style-type: none;
      text-decoration: none; 
      margin: 0;
      padding: 0;
    }   
     
    .l1000 li {
      display: inline-block;
      margin-left: 35px;
    } 
  
    #i0000 {
      max-width: 36px;
      position: absolute;
    }